/* Crie um arquivo no mesmo diretório e nomeie-o de ‘style.css’. */
/* Nesse arquivo .css, adicione os estilos para que: */
/* O texto das tags ‘h1’ e ‘p’ estejam centralizados. */
h1,
p {
  text-align: center;
}

/* A cor de fundo da sua lista mude quando o cursor estiver sobre o item. */
ol:hover {
  background-color: rgb(150,150,150);
}

/* A fonte do item mude quando ele for clicado. */
li:active {
    font-style: italic;
}

/* No ‘style.css’, adicione a propriedade ‘list-style: none’ para ambas as listas. */
ol, ul {
    list-style: none;
}
